img {
margin: 77px 0 0 0;
}

.central-textlogo {
    position: relative;
    margin: 4rem auto 0.5rem;
    width: 180px;
    font-family: Linux Libertine,Hoefler Text,Georgia,Times New Roman,Times,serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    -moz-font-feature-settings: "ss05=1";
    -moz-font-feature-settings: "ss05";
    -webkit-font-feature-settings: "ss05";
    -ms-font-feature-settings: "ss05";
    font-feature-settings: "ss05";
    line-height: 84%;
}

.central-textlogo strong {
    font-size: 14px;
    font-weight: 100;
    font-family: Linux Libertine,Georgia,Times,serif;
}

.worldWikipedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.worldWikipedia ul{
    list-style: none;

    
} 

.worldWikipedia ul li a{
    color: #36c;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin: 0 0 0 22px;
} 

.worldWikipedia ul li a:hover {
    text-decoration:underline;
} 

.worldWikipedia ul li span{
    color: #54595d;
} 

.idioma1{
    margin: 0 0 0 -7px;
}

.idioma2{
    margin: 43px 0 22px -50px;
}

.idioma3{
    margin: 0 0 43px -64px;
}

.idioma4 {
    margin: 0 0 0 -50px;
}